/environments/Hivex_AerialWildfireSuppression/Hivex_AerialWildfireSuppression_linux
/environments/Hivex_AerialWildfireSuppression/Hivex_AerialWildfireSuppression_win

/environments/Hivex_DroneBasedReforestation/Hivex_DroneBasedReforestation_linux
/environments/Hivex_DroneBasedReforestation/Hivex_DroneBasedReforestation_win

/environments/Hivex_OceanPlasticCollection/Hivex_OceanPlasticCollection_linux
/environments/Hivex_OceanPlasticCollection/Hivex_OceanPlasticCollection_win

/environments/Hivex_WildfireResourceManagement/Hivex_WildfireResourceManagement_linux
/environments/Hivex_WildfireResourceManagement/Hivex_WildfireResourceManagement_win

/environments/Hivex_WindFarmControl/Hivex_WindFarmControl_linux
/environments/Hivex_WindFarmControl/Hivex_WindFarmControl_win